# **Predict Employee Attrition: Load**

## Objectives

* At the end of this phase, we will:
    - Summarize the ETL steps
    - Outline the next steps
    

## Inputs

* [Task outline](https://docs.google.com/document/d/e/2PACX-1vThNllbMORJoc348kFavz4mZWT1-33xyazdD2L-3AlTfORlRhuDyT0xmCBQMD2C-K2djQQipt6te6lo/pub)
* Extract and load phases

## Outputs

* Summary of the ETL process
* Next steps

---

# Import packages

In [1]:
import numpy as np
import pandas as pd

---

# Data reupload

In [2]:
df = pd.read_csv("../data/transformed_data/predict_employee_attrition_transformed.csv")
print(df.shape)
df.head()

(1470, 34)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeNumber,EnvironmentSatisfaction,...,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,TotalSatisfaction,AgeBracket
0,41,1,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,2,...,0,8,0,1,6,4,0,5,2.00,36-45
1,49,0,Travel_Frequently,279,Research & Development,8,1,Life Sciences,2,3,...,1,10,3,3,10,7,1,7,3.00,46-55
2,37,1,Travel_Rarely,1373,Research & Development,2,2,Other,4,4,...,0,7,3,3,0,0,0,0,3.00,36-45
3,33,0,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,5,4,...,0,8,3,3,8,7,3,0,3.25,26-35
4,27,0,Travel_Rarely,591,Research & Development,2,1,Medical,7,1,...,1,6,3,3,2,2,2,2,2.50,26-35

---

# Sanity check

In [3]:
df.isnull().sum()

Age                         0
Attrition                   0
BusinessTravel              0
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeNumber              0
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobRole                     0
JobSatisfaction             0
MaritalStatus               0
MonthlyIncome               0
MonthlyRate                 0
NumCompaniesWorked          0
OverTime                    0
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
TotalSatisfaction           0
AgeBracket                  0
dtype: int64

In [6]:
df.duplicated().sum()

np.int64(0)

In [7]:
(df == 0).sum()

Age                            0
Attrition                   1233
BusinessTravel                 0
DailyRate                      0
Department                     0
DistanceFromHome               0
Education                      0
EducationField                 0
EmployeeNumber                 0
EnvironmentSatisfaction        0
Gender                       588
HourlyRate                     0
JobInvolvement                 0
JobLevel                       0
JobRole                        0
JobSatisfaction                0
MaritalStatus                  0
MonthlyIncome                  0
MonthlyRate                    0
NumCompaniesWorked           197
OverTime                       0
PercentSalaryHike              0
PerformanceRating              0
RelationshipSatisfaction       0
StockOptionLevel             631
TotalWorkingYears             11
TrainingTimesLastYear         54
WorkLifeBalance                0
YearsAtCompany                44
YearsInCurrentRole           244
YearsSinceLastPromotion      581
YearsWithCurrManager         263
TotalSatisfaction              0
AgeBracket                     0
dtype: int64

Transformation has not duplicated data or created any null values. However, we did encode Attrition and Gender, which is why the columns with zero-values have increased.

---

# ETL Summary

**Extract:**

1. Loaded the dataset from Kaggle

2. Checked for missing data, null values, and duplicates

3. Drafted business problem and captured assumptions

4. Inspected data distrubition, analyzed correlation, probed for outliers, and visualized the data for exploration

5. Determined transformation steps and copied the dataset

**Transform:**

1. Encoded features based on the correlation analysis

2. Determined the hypotheses, coducted statistical tests on hypotheses, and explained and visualized the results

3. Captured business recommendations and explained why they matter and how they need to be interpret in the real world

**Load:**

Reloaded the transformed dataset and performed a sanity check

Summarized the ETL process

Captured the next steps

---

# Next steps

1. Recommend collecting real-world, unbiased data

2. In the next sprint, review how data bias will be handled

3. In the next sprint, review how zero-value conflicts between the features will be handled

4. Recommend building a machine learning model upon resolving the bias in the dataset

5. Build a dashboard to visualize the dataset

---

**Note:** We have created a [PowerBI dashboard](/dashboard/) that visualizes the entire dataset.